
ol {
  background-color: #d86a7b;
  padding: 20px;
  width: 350px;
  list-style-position: inside;
}

li {
  background-color: #e48191;
  margin: 10px 0;
  padding: 10px;
}

li span {
  background-color: #b43f4c;
  color: white;
  padding: 5px 10px;
  display: inline-block;
}